section.section.section--text.about
    .container
        h2.section__title Кто мы
        .section__text
            p
                span.section__brand(lang="en") Tire King
                | - техническое объединение топовых инженеров, мастеров и механиков, которые придут вам на помощь. Огромный опыт работы в ведущих сервисах и салонах позволяет нам гарантировать результат в сжатые сроки.


