footer.footer
    .container.container--large.footer__container
        .copyright.footer__copyright
            b &copy; 2015 - 2021 Tire King.
            |  Шиномонтаж нового поколения
        .feedback
            a.feedback__link(href="email:feedback@tireking.com?subject=From%20tireking.com") Обратная связь
