.header
    .container.container--large.header__container
        nav.header__nav.header__container-col
            .lang.header__lang
                a.lang__link.lang__link--current(href="/" lang="en") Ru
                span /
                a.lang__link(href="/en" lang="en") En
            a.social-link(href="#" target="_blank" rel="noopener") Будь с нами
        .header__logo.header__container-col
            picture
                source(srcset="img/logo.webp" type="image/webp")
                img(width="344" src="img/logo.png" alt="Логотип Tire King")
        ul.contacts.header__contacts.header__container-col
            li
                a.contacts__link(href="tel:+74959009090") +7 (495) 900-90-90
            li
                a.contacts__link(href="email:info@tireking.com?subject=From%20tireking.com") info@tireking.com
