intro.intro
    include _header
    .container.intro__container
        .intro__title
            h1
                span.intro__overtitle Шиномонтаж нового поколения
                span(lang="en") Tire King
            p.intro__subtitle Быстро. Надежно.
        ul.features
            li.features__item
                a.features__link(href="#form")
                    .features__img
                        img(src="img/feature-repair.svg" alt="")
                    .features__title Ремонт
            li.features__item
                a.features__link(href="#form")
                    .features__img
                        img(src="img/feature-change.svg" alt="")
                    .features__title Замена
            li.features__item
               a.features__link(href="#form")
                    .features__img
                        img(src="img/feature-balance.svg" alt="")
                    .features__title Балансировка
            li.features__item
                a.features__link(href="#form")
                    .features__img
                        img(src="img/feature-storage.svg" alt="")
                    .features__title Хранение

