section.section.job
    .container
        h2.section__title Работа у нас
        .section__text
            p
                span.section__brand(lang="en") Tire King
                | - это шиномонтаж следующего поколения. Зарабатывай сколько хочешь, когда хочешь, где хочешь. Моментальная оплата работы после сдачи, никаких затянутых проектов, мы  - это UBER на рынке автосервисов.
            p Если ты опытный мастер, слесарь, мастер-приемщик или инженер – напиши на почту и начинай работать с нами.
            p.contacts.job__contacts
                a.contacts__link(href="email:job@tireking.com?subject=From%20tireking.com") job@tireking.com


