section.section
    .swiper-container
        ul.swiper-wrapper
            li.swiper-slide
                picture
                    source(srcset="img/slide-4.webp" type="image/webp")
                    img.swiper-img(src="img/slide-4.jpg" alt="Ремонт колес")
            li.swiper-slide
                picture
                    source(srcset="img/slide-3.webp" type="image/webp")
                    img.swiper-img(src="img/slide-3.jpg" alt="Замена колес")
            li.swiper-slide
                picture
                    source(srcset="img/slide-2.webp" type="image/webp")
                    img.swiper-img(src="img/slide-2.jpg" alt="Балансировка колес")
            li.swiper-slide
                picture
                    source(srcset="img/slide-1.webp" type="image/webp")
                    img.swiper-img(src="img/slide-1.jpg" alt="Хранение колес")
        .swiper-pagination
        button.swiper-button-prev(type="button")
        button.swiper-button-next(type="button")
