section.section.task#task
    .container
        h2.section__title Какая задача
        form.form.task-form
            fieldset.task-form__cols.task-form__cols--double
                fieldset.field.task-form__group.select#selectTask
                    span.field__label.select__label(id="service") Выбирите услугу
                    div.select__wrapper
                        select.field__input.select-native(name="service" aria-labelledby="service")
                            option(value="select" disabled selected) Выберите услугу
                            option(value="repair") Отремонтировать
                            option(value="replacement") Заменить
                            option(value="balance") Отбалансировать
                            option(value="storage") Взять на хранение
                        div(aria-hidden="true").select-custom
                            div.field__input.select-custom__trigger Выберите услугу
                            ul.select-custom__options
                                li(data-value="repair").select-custom__option Отремонтировать
                                li(data-value="replacement").select-custom__option Заменить
                                li(data-value="balance").select-custom__option Отбалансировать
                                li(data-value="storage").select-custom__option Взять на хранение
                fieldset.field.task-form__group.select#selectDeadline
                    span.field__label.select__label(id="deadline") Когда нужно
                    div.select__wrapper
                        select.field__input.select-native(name="deadline" aria-labelledby="deadline")
                            option(value="select" disabled selected) Когда нужно
                            option(value="yesterday") Вчера
                            option(value="today") Сегодня
                            option(value="tomorrow") Завтра
                        div(aria-hidden="true").select-custom
                            div.field__input.select-custom__trigger Когда нужно
                            ul.select-custom__options
                                li(data-value="yesterday").select-custom__option Вчера
                                li(data-value="today").select-custom__option Сегодня
                                li(data-value="tomorrow").select-custom__option Завтра
            fieldset.field.task-form__group
                label.field__label(for="textarea") Дополнительная информация
                textarea.field__input.field__input--textarea(id="textarea" name="textarea" placeholder="Опишите дополнительную информацию" spellcheck="true")
            fieldset.task-form__cols.task-form__cols--triple
                fieldset.field.task-form__group
                    label.field__label(for="name") Дополнительная информация
                    input.field__input(id="name" name="name" type="text" placeholder="Ваше имя" aria-describedby="field__message--text")
                    div.field__message.field__message--hidden#field__message--text Введите имя
                fieldset.field.task-form__group
                    label.field__label(for="tel") Дополнительная информация
                    input.field__input(id="tel" name="tel" type="tel" placeholder="Телефон для связи" aria-describedby="field__message--tel")
                    div.field__message.field__message--hidden#field__message--tel Введите телефон
                fieldset.field.task-form__group
                    label.field__label(for="email") Дополнительная информация
                    input.field__input(id="email" name="email" type="email" placeholder="Эл. почта" aria-describedby="field__message--email")
                    div.field__message.field__message--hidden#field__message--email Введите эл.почту
            button.btn.form__submit.task-form__submit(type="button") Отправить
