.btn {
    background-color: $main-color;
    padding: 4px 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    color: $second-color;
    font-size: 18px;
    display: block;
    max-width: 280px;
}
