.form {
    font-size: 18px;
    font-weight: 700;

    &__submit {
        margin: 0 auto;
        min-height: 48px;
        width: 100%;
        max-width: 280px;
    }
}

$field-border: 2px solid $third-color;
.field__input--select {
}

.field {
    &__label {

        @include visuallyhidden;
        color: $third-color;
        margin-bottom: 3px;
    }

    &__input {
        border: $field-border;
        padding: 10px;
        min-height: 48px;
        display: block;
        width: 100%;
        text-transform: uppercase;

        &::-webkit-input-placeholder {
            font-weight: 400;
        }

        &:focus + .field__input--select {

            @media (hover: hover) {
                display: none;
            }
        }

        &--textarea {
            min-height: 96px;

            @media (min-width: $tablet) {
                min-height: 240px;
            }
        }

        &--select {
            position: absolute;
            top: 0;
            left: 0;
            display: none;

            @media (hover: hover) {
                display: block;
            }
        }
    }

    &__select {
        position: relative;
    }

    &__message {
        color: red;
        text-align: center;
        font-size: 0.8em;
        margin-top: 3px;

        &--hidden {
            display: none;
        }
    }
}
