.footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &__container {
        width: 100%;

        @media (min-width: 640px) {
            display: flex;
            justify-content: space-between;
        }

        @media (min-width: 1024px) {
            max-width: 1000px;
        }
    }

    &__copyright {
        margin-bottom: 10px;
    }
}
