.footer {
    background-color: $second-color;
    color: $third-color;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;

    &__container {

        @media (min-width: 768px) {
            display: flex;
            justify-content: space-between;
        }
    }

    &__copyright {
        margin-bottom: 10px;

        @media (min-width: 768px) {
            margin-bottom: 0;
        }
    }
}
