.intro {
    display: flex;
    height: 100vh;
    flex-direction: column;

    &__container {
        display: flex;
        width: 100%;
        max-width: 1000px;
        flex-grow: 1;
        flex-wrap: wrap;
        align-content: center;
        justify-content: flex-start;
    }

    &__title {
        width: 100%;
        height: auto;
        flex-grow: 0;
        margin: 0 auto 60px;
        text-align: center;
        text-transform: uppercase;

        @media (max-height: 380px) and (orientation: landscape) {
            margin-bottom: 20px;
        }

        h1 {
            font-size: 16vmin;
            font-weight: 700;
            letter-spacing: normal;
            line-height: 1;

            @media (min-width: 768px), (min-height: 768px) {
                font-size: 100px;
            }
        }
    }

    &__overtitle {
        display: block;
        font-size: 2.8vmin;
        letter-spacing: 0.32em;

        @media (min-width: 768px), (min-height: 768px) {
            font-size: 12px;
        }
    }

    &__subtitle {
        font-size: 5vmin;
        font-weight: 700;
        letter-spacing: 0.045em;

        @media (min-width: 768px), (min-height: 768px) {
            font-size: 31px;
        }
    }
}
