.task {
    color: $main-color;
}

.task-form {
    display: flex;
    flex-direction: column;

    &__group {
        margin-bottom: 10px;
    }

    &__cols {

        @media (min-width: $tablet) {
            display: flex;
            justify-content: space-between;
        }

        &--double {

            @media (min-width: $tablet) {
                .task-form__group {
                    width: 49%;
                }
            }
        }

        &--triple {

            @media (min-width: $tablet) {
                .task-form__group {
                    width: 32%;
                }
            }
        }
    }

    &__submit {
        margin-top: 30px;
    }
}
