meta(charset="utf-8")
title TIRE KING - Шиномонтаж. Быстро. Надежно.
meta(name="google" content="notranslate")

//- Mobile
meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1.0")
meta(name="apple-mobile-web-app-capable" content="yes")
meta(name="apple-mobile-web-app-status-bar-style" content="black")
meta(name="apple-mobile-web-app-title" content="Tire King")
meta(name="format-detection" content="telephone=no")


//- CriticalCSS style

//- Style (build:css need for gulp task)
// build:css
link(rel="stylesheet" href="css/style.css")
// endbuild

//- Fonts
link(rel="preload" href="fonts/pt-sans-v12-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin)
link(rel="preload" href="fonts/pt-sans-v12-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin)

//- Favicon
link(rel="icon" href="favicon.ico")
link(rel="icon" href="favicon.svg" type="image/svg+xml")
link(rel="apple-touch-icon" href="apple-touch-icon-180.png")
link(rel="manifest" href="manifest.json")

//- SEO
meta(name="description" content="Ремонт колес, замена колес, балансировка, сход-развал, хранение. Быстро. Надежно.")
link(rel="canonical" href="https://tireking.com")
link(rel="alternate" hreflang="en" href="http://tireking.com/en/")

//- OG
meta(property="og:url" content="https://tireking.com")
meta(property="og:type" content="website")
meta(property="og:title" content="Tire King - Auto Repair")
meta(property="og:image" content="img/logo.png")
meta(property="og:image:alt" content="Tire King - Auto Repair")
meta(property="og:image:width" content="1200")
meta(property="og:image:height" content="630")
meta(property="og:description" content="Ремонт колес, замена колес, балансировка, сход-развал, хранение. Быстро. Надежно.")
meta(property="og:site_name" content="tireking.com")
meta(property="og:locale" content="ru_RU")
meta(property="article:author" content="Tire King")
meta(property="vk:image" content="img/logo.png")
meta(property="fb:image" content="img/logo.png")

//- Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:site" content="TIRE KING - Auto Repair")
meta(name="twitter:creator" content="Tire King")
meta(name="twitter:url" content="https://tireking.com")
meta(name="twitter:title" content="TIRE KING - Auto Repair")
meta(name="twitter:description" content="Ремонт колес, замена колес, балансировка, сход-развал, хранение. Быстро. Надежно.")
meta(name="twitter:image" content="img/logo.png")
meta(name="twitter:image:alt" content="img/logo.png")

//- Yandex Map
script(src="https://api-maps.yandex.ru/2.1/?apikey=24851d66-7f75-496a-8ea3-c6fc55bccad1&lang=ru_RU")
