body {
    min-width: 320px;
    background-color: $second-color;
    color: $main-color;
    font: $font-base;
    letter-spacing: 0.02em;
}

.container {
    width: 90%;
    max-width: 600px;
    padding: 0 10px;
    margin: 0 auto;

    @media (min-width: 768px) {
        padding: 0 25px;
    }

    &--large {
        max-width: 1000px;
    }
}

.section {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 35px;

    @media (min-width: $tablet) {
        padding-top: 45px;
        padding-bottom: 45px;
    }

    &__title {
        margin: 24px auto;
        font-size: 8vmin;
        text-align: center;
        text-transform: uppercase;

        @media (min-width: $tablet) {
            margin: 60px auto;
        }
    }

    &__text {
        hyphens: auto;
        line-height: 1.3;
        overflow-wrap: break-word;
        word-wrap: break-word;

        p {
            margin-top: 1.5em;
            margin-bottom: 1.5em;
        }
    }

    &__brand {
        text-transform: uppercase;
    }
}
