$font-stack-sans-serif: pt sans, "Segoe UI", roboto, "Helvetica Neue", helvetica, arial, sans-serif;
$font-stack-serif: georgia, times, "Times New Roman", serif;

$font-family-base: $font-stack-sans-serif;
$font-size-root: 18px;

$font-base: 400 $font-size-root $font-stack-sans-serif;

$main-color: #f00;
$second-color: #fff;
$third-color: #000;

$pad: 1024px;
$tablet: 768px;
$phone-max: 640px;
